{% extends "base.html" %}

{% block body %}


<form  enctype=multipart/form-data method="POST">
<div class="container">
    <div class="row">
        <div class="col-3 mb-1 bg-secondary text-white">
            <div class="form-group">
                {{ form.sample_name.label }}
                {{ form.sample_name() }}
            </div>
        </div>
        <div class="col-3 mb-1 bg-secondary text-white">
            <div class="form-group">
                {{ form.alloy_name.label }}
                {{ form.alloy_name() }}
            </div>
        </div>
        <div class="col-6 mb-1 bg-secondary text-white">
            <div class="form-group">
                {{ form.comment.label }}
                {{ form.comment() }}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col mb-1 bg-secondary text-white">
                <img src="/mediafiles/{{ filename }}" upload class="img-fluid" alt="Responsive image">
            <div class="form-group">
                 <div class="row">
                    <div class="col-md-4">
                     </div>
                 </div>
                    <div class="form-group">
                    </div>
                {{ form.submit_upload() }}
            </div>
        </div>
    </form>

        <div class="col mb-1 bg-secondary text-white">
            <div class="form-group">
                <img id="image_preview" src="/treat-files/0-0/1-15000/{{ filename }}" upload class="img-fluid" alt="/treat-files/{{ filename }}">
            </div>
        </div>
        <div class="col mb-1 bg-secondary text-white">
            <div class="form-group">

                          Увеличение при съемке
                          <select class="custom-select custom-select-sm">
                                <option value="1">x10000</option>
                                <option value="2">x20000</option>
                                <option value="3">x30000</option>
                                <option value="4">x40000</option>
                                <option value="5">x50000</option>
                          </select>
                
                
                {{ form.image_wb.label }}
                
                    <div class="form-row">
                      <div class="col-sm">
                          <input class="form-control" id="image_wb_min" type="text" value="" placeholder="Min=0">
                      </div>
                      <div class="col-sm">
                          <input class="form-control" id="image_wb_max" type="text" value="" placeholder="Max=255">
                      </div>
                    </div>


                  {{ form.particle.label }}

                    <div class="form-row">
                      <div class="col-sm">
                        <input class="form-control" id="particle_min" type="text" value="" placeholder="Min=0">
                      </div>
                      <div class="col-sm">
                        <input class="form-control" id="particle_max" type="text" value="" placeholder="Min=15000">
                      </div>
                    </div>
                          <span id="binar_ok" class="btn btn-info">Проанализировать</span>





            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4 mb-1 bg-secondary text-white">
            <div class="form-group">
                <p class="font-weight-bold" >Результаты:</p>
                <div class="row ">
                    <table class="table bg-light table-striped table-bordered text-dark" >
                        <tbody>
                            <tr class="mb-1">
                                <th scope="row"><p class="font-weight-normal">Средний размер, нм</p></th>
                                <td>100</td>
                            </tr>
                            <tr class="mb-1">
                                <th scope="row"><p class="font-weight-normal">Погрешность, нм</p></th>
                                <td>100</td>
                            </tr>
                            <tr class="mb-1">
                                <th scope="row"><p class="font-weight-normal">Количество частиц</p></th>
                                <td>100</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4 mb-1 bg-secondary text-white">
            <div class="form-group">
                ГИСТОГРАММА
                <img id="image_gist" src="/gist-files/{{ filename }}" upload class="img-fluid" alt="/gist-files/{{ filename }}">
            </div>
        </div>
        <div class="col-4 mb-1 bg-secondary text-white">
            <div class="form-group">
                ГИСТОГРАММА
            </div>
        </div>
    </div>
</div>


                <script language="JavaScript">
                    const btn_ok_binar = document.querySelector('#binar_ok');

                    btn_ok_binar.addEventListener('click', (event) => {
                        let binar_min = document.querySelector('#image_wb_min').value;
                        let binar_max = document.querySelector('#image_wb_max').value;
                        let particle_min = document.querySelector('#particle_min').value;
                        let particle_max = document.querySelector('#particle_max').value;

                        let link = '/treat-files/' + binar_min + '-' + binar_max + '/' + particle_min + '-' + particle_max + '/{{ filename }}'
                        let link2 = '/gist-files/' + binar_min + '-' + binar_max + '/' + particle_min + '-' + particle_max + '/{{ filename }}'

                        document.querySelector('#image_preview').src = link;
                        document.querySelector('#image_gist').src = link2;
                    });

                </script>
                    </form>
{% endblock %}
