{% extends "base.html" %}

{% block body %}


<form  enctype=multipart/form-data method="POST">
<div class="container">
    <div class="row">
        <div class="col-3 mb-1 bg-secondary text-white">
            <div class="form-group">
                {{ form.sample_name.label }}
                {{ form.sample_name() }}
            </div>
        </div>
        <div class="col-3 mb-1 bg-secondary text-white">
            <div class="form-group">
                {{ form.alloy_name.label }}
                {{ form.alloy_name() }}
            </div>
        </div>
        <div class="col-6 mb-1 bg-secondary text-white">
            <div class="form-group">
                {{ form.comment.label }}
                {{ form.comment() }}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col mb-1 bg-secondary text-white">
            <!-- {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-warning" role="alert">
                        {% for message in messages %}
                            {{ message }}<br>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %} -->
                <!-- <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                      </div> -->
             
                <img src="/mediafiles/{{ filename }}" upload class="img-fluid" alt="Responsive image"> 
            <div class="form-group">
                 <div class="row">
                    <div class="col-md-4">
                        <!-- <div class="card mb-4 box-shadow">
                        </div> -->
                     </div>
                 </div>
                   
                    <!-- {{ form.hidden_tag() }} -->
                    <div class="form-group">
                    <!-- {{ form.upload.label }}
                    {{ form.upload() }} -->
                    </div>
                {{ form.submit_upload() }}
            </div>
        </div>
    </form>



        <div class="col mb-1 bg-secondary text-white">
            <div class="form-group">
                ИЗОБРАЖЕНИЕ
            </div>
        </div>
        <div class="col mb-1 bg-secondary text-white">
            <div class="form-group">

                          Увеличение при съемке
                          <select class="custom-select custom-select-sm">
                                <option value="1">x10000</option>
                                <option value="2">x20000</option>
                                <option value="3">x30000</option>
                                <option value="4">x40000</option>
                                <option value="5">x50000</option>
                        </select>
                
                
                {{ form.image_wb.label }}
                
                    <div class="form-row">
                      <div class="col-sm">
                        <input type="text" class="form-control" placeholder="Min">
                      </div>
                      <div class="col-sm">
                        <input type="text" class="form-control" placeholder="Max">
                      </div>
                      <button type="submit" class="btn btn-info">Ок</button>
                    </div>
                  </form>

                  {{ form.particle.label }}
                  <form>
                    <div class="form-row">
                      <div class="col-sm">
                        <input type="text" class="form-control" placeholder="Min">
                      </div>
                      <div class="col-sm">
                        <input type="text" class="form-control" placeholder="Max">
                      </div>
                      <button type="submit" class="btn btn-info">Ок</button>
                    </div>
                    </form>  
                    <form>
                    <button type="submit" class="btn btn-info">Проанализировать</button>

                    </form> 

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4 mb-1 bg-secondary text-white">
            <div class="form-group">
                <p class="font-weight-bold" >Результаты:</p>
                <div class="row ">
                    <table class="table bg-light table-striped table-bordered text-dark" >
                        <tbody>
                            <tr class="mb-1">
                                <th scope="row"><p class="font-weight-normal">Средний размер, нм</p></th>
                                <td>100</td>
                            </tr>
                            <tr class="mb-1">
                                <th scope="row"><p class="font-weight-normal">Погрешность, нм</p></th>
                                <td>100</td>
                            </tr>
                            <tr class="mb-1">
                                <th scope="row"><p class="font-weight-normal">Количество частиц</p></th>
                                <td>100</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4 mb-1 bg-secondary text-white">
            <div class="form-group">
                ГИСТОГРАММА
            </div>
        </div>
        <div class="col-4 mb-1 bg-secondary text-white">
            <div class="form-group">
                ГИСТОГРАММА
            </div>
        </div>
    </div>
</div>
{% endblock %}
