{% extends "base.html" %}

{% block body %}

<div class="p-5 mb-2">
    <div class="container">
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-5">
                <h2>Привет Исследователь!</h2>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</div>

<div class="container mb-3">
    <div class="row justify-content-around">
        <div class="col-5">
            <div class="col p-5 mb-1 bg-secondary">
                <h4>Если ты с нами в первый раз:</h4><br>
                <a class="btn btn-info btn-block" href="{{ url_for('registr') }}" role="button">
                    Регистрация
                </a>
                </form>
            </div>
            <div class="col p-5 mb-1 bg-secondary">
                <h4>Если мы уже знакомы:</h4><br>
                <a class="btn btn-info btn-block" href="{{ url_for('login') }}" role="button">
                    Авторизация
                </a>
            </div>
        </div>
        <div class="col-5 p-5 mb-1 bg-secondary">
            Немного о программе PhaseCatcher:<br>
            <ul><li>мы</li></ul>
            <ol><li>что-то</li></ol>
            <dl>умеем</dl>
            <ul><li>делать</li></ul>
        </div>
    </div>
</div>


<div class="p-4 bg-secondary text-white fixed-bottom"></div>


{% endblock %}
