{% extends "base.html" %}

{% block body %}
<div class="p-5 mb-1 bg-info text-white">
<div class="'row">
    <div class="container">
        <div class="col-8">
        <h1>Upload new File
        {{ title }}
        </h1>
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
        </div>
    </div>
</div>
</div>
<div class="p-5 mb-1 bg-info text-white">
<div class="'row">
    <div class="container">
        <div class="col-8">
                <h1>Файлы</h1>
                {% for files in files_list %}
                <b>{{ files.file_name }}{{ files.uploaded }}</b>
                <p>{{ files.uploaded.strftime('%B %d, %Y') }}</p>
                <hr />
                {% endfor %}
        </div>
    </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
        {% for files in files_list %}
     <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/mediafiles/{{ files.file_name }}" alt= {{ files.file_name }}>
  <div class="card-body">
    <p class="card-text"> {{ files.uploaded.strftime('%B %d, %Y') }}</p>
  </div>

    </div>
        {% endfor %}
        <br>
    </div>
    <div class="col-sm">

    </div>
  </div>
</div>




<div class="container">

          <div class="row">
          {% for files in files_list %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="/mediafiles/{{ files.file_name }}" style="height: 225px; width: 100%; display: block;" src="/mediafiles/{{ files.file_name }}" alt= {{ files.file_name }} data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">{{ files.uploaded.strftime('%B %d, %Y') }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

          </div>
</div>


{% endblock %}
