{% extends "base.html" %}

{% block body %}

<form  enctype=multipart/form-data method="POST">
<div class="container">
    <div class="row">

    </div>
</div>

<div class="container">
    <div class="row">

    </div>
</div>
</form>
<div class="container">
    <div class="row">
        <div class="col mb-1 bg-secondary text-white">
            <h5 class="card-title">Загруженные файлы</h5>
            <p class="card-text">
                {% for files in files_list %}
                <ul><li>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        {{ files.file_name }}<br>
                        {{ files.experiment_time.strftime('%B %d, %Y') }}
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ files.file_name }}
            <p>{{ files.experiment_time.strftime('%B %d, %Y') }}</p>
            </li></ul>
            <hr />
            {% endfor %}
        </div>
    </div>
    <div class="col-4 mb-1 bg-secondary text-white">
        <div class="form-group">
        </div>
    </div>
        <div class="col-4 mb-1 bg-secondary text-white">
            <div class="form-group">

            </div>
        </div>
    </div>
</div>
{% endblock %}