{% extends "base.html" %}

{% block body %}




<form  enctype=multipart/form-data method="POST">
<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Увеличение при съемке</th>
                <th scope="col">Бинаризация</th>
                <th scope="col">Выбор частиц</th>
                <th scope="col">Имя файла</th>
                <th scope="col">Дата/Время</th>
            </tr>
            </thead>

            {% for list in list_join %}

            <tbody>
            <tr>
                <th scope="row">{{ list.id }}</th>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong{{ list.id }}">
                        {{ list.name }}
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalLong{{ list.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{ list.files.file_name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="/mediafiles/{{ list.files.file_name }}" alt= {{ list.files.file_name }}>
                                        <div class="card-body">
                                            <p class="card-text"> {{ list.comment }}</p>
                                        </div>
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">Средний размер, нм</th>
                                            <td>{{ list.average_size }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Отклонение, нм</th>
                                            <td>{{ list.deviation_size }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Усредненный параметр формы, P/Sqrt</th>
                                            <td>{{ list.shape_parameter }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Количество частиц</th>
                                            <td>{{ list.particles_number }}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div id="container" style=" margin: 0 auto"></div>


<script src="https://code.highcharts.com/highcharts.js"></script>
                                    <div id="container" style="width:100%; height:400px;"></div>

<!--<script src="https://code.highcharts.com/highcharts.js"></script>-->
<!--<script src="https://code.highcharts.com/modules/exporting.js"></script>-->
<!--<script src="https://code.highcharts.com/modules/export-data.js"></script>-->
<script>
    Highcharts.chart('container', {
  chart: {
    zoomType: 'xy'
  },
  title: {
    text: 'Average Monthly Temperature and Rainfall in Tokyo'
  },
  subtitle: {
    text: 'Source: WorldClimate.com'
  },
  xAxis: [{
    categories: [175, 178, 179, 180, 186, 189, 190, 194, 195, 197, 202, 208, 209, 218, 219, 223, 225, 228, 228, 234, 235, 237, 242, 244, 245, 245, 246, 250, 252, 252, 252, 253, 254, 256, 257, 258, 260, 261, 263, 269, 269, 270, 270, 270, 273, 273, 275, 279, 281, 282, 284, 284, 293, 297, 298, 299, 302, 302, 302, 303, 304, 304, 308, 310, 310, 312, 313, 315, 315, 317, 324, 329, 333, 347, 348, 353, 365, 371],
    crosshair: true
  }],
  yAxis: [{ // Secondary yAxis
    title: {
      text: 'Rainfall',
      style: {
        color: Highcharts.getOptions().colors[0]
      }
    },
    labels: {
      format: '{value} mm',
      style: {
        color: Highcharts.getOptions().colors[0]
      }
    },
    opposite: true
  }],
  tooltip: {
    shared: true
  },
  legend: {
    layout: 'vertical',
    align: 'left',
    x: 120,
    verticalAlign: 'top',
    y: 100,
    floating: true,
    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || 'rgba(255,255,255,0.25)'
  },
  series: [{
    name: 'Temperature',
    type: 'spline',
    data: [0.00140055, 0.00157481, 0.00163614, 0.00169911, 0.00211155, 0.00233993,
0.00241928, 0.00275235, 0.00283941, 0.00301788, 0.00348764, 0.00408882,
0.00419216, 0.00514478, 0.00525157, 0.00567624, 0.00588566, 0.00619383,
0.00619383, 0.00677813, 0.00687012, 0.0070485, 0.00745713, 0.0076036,
0.00767283, 0.00767283, 0.00773927, 0.00797554, 0.00807494, 0.00807494,
0.00807494, 0.00811973, 0.00816116, 0.00823374, 0.00826479, 0.0082923,
0.00833655, 0.00835322, 0.00837557, 0.00835398, 0.00835398, 0.00833749,
0.00833749, 0.00833749, 0.00826629, 0.00826629, 0.00820103, 0.0080294,
0.00792392, 0.00786649, 0.0077426, 0.0077426, 0.00705297, 0.00668928,
0.00659404, 0.00649729, 0.00619903, 0.00619903, 0.00619903, 0.00609729,
0.00599458, 0.00599458, 0.00557607, 0.00536367, 0.00536367, 0.00515026,
0.00504342, 0.00482994, 0.00482994, 0.00461733, 0.00388976, 0.00339608,
0.00302253, 0.00190143, 0.00183343, 0.00151813, 0.00092268, 0.00070237],
    tooltip: {
      valueSuffix: '°C'
    }
  }]
});
</script>



<!--                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>-->
<!--                                    <canvas id="myChart" width="400" height="400">-->
<!--<script>-->
<!--var ctx = document.getElementById('myChart');-->


<!--                                    var mixedChart = new Chart(ctx, {-->
<!--    type: 'bar',-->
<!--    data: {-->
<!--        datasets: [{-->
<!--            label: 'Bar Dataset',-->
<!--            data: [10, 20, 30, 40]-->
<!--        }, {-->
<!--            label: 'Line Dataset',-->
<!--            data: [50, 50, 50, 50],-->

<!--            // Changes this dataset to become a line-->
<!--            type: 'line'-->
<!--        }],-->
<!--        labels: ['January', 'February', 'March', 'April']-->
<!--    },-->
<!--    options: options-->
<!--});-->
<!--</script>-->
<!--                                    </canvas>-->

                                    !!!!!!!!!!!!!!!!!!!!!!!!!
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>{{ list.image_scale }}</td>
                <td>{{ list.image_wb }}</td>
                <td>{{ list.image_cont }}</td>
                <td>{{ list.file_id }}</td>
                <td>{{ list.experiment_time.strftime('%B %d, %Y %H:%m')  }}</td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>

<div class="container">
    <div class="row">

    </div>
</div>
</form>

<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Средний размер, нм</th>
                <th scope="col">Отклонение, нм</th>
                <th scope="col">Усредненный параметр формы, P/Sqrt</th>
                <th scope="col">Количество частиц</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ average_dict['average_size'] }}</td>
                <td>{{ average_dict['average_dv'] }}</td>
                <td>{{ average_dict['average_sp'] }}</td>
                <td>{{ average_dict['average_pn'] }}</td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
{% endblock %}