{% extends "base.html" %}

{% block body %}

<div class="p-5 mb-2">
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col-5 text-center">
                <h3>
                    USER {{ user_name }} приступим к работе!<br>
                    Что будем исследовать сегодня?
                </h3>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</div>

<div class="container mb-3">
    <div class="row justify-content-around">
        <div class="col-3 p-5 mb-1">

        </div>
        <div class="col-5 p-5 mb-1 bg-secondary text-center text-white">
            Анализ изображений<br><br>
            <button type="button" class="btn btn-info btn-block">
                Начать
            </button>
        </div>
        <div class="col-3 p-5 mb-1">

        </div>
    </div>
</div>

<div class="container mb-3">
    <div class="row justify-content-around">
        <div class="col-3 p-5 mb-1">

        </div>
        <div class="col-5 p-5 mb-1 bg-secondary text-center text-white">
            Просмотр существующий данных<br><br>
            <button type="button" class="btn btn-info btn-block">
                Начать
            </button>
        </div>
        <div class="col-3 p-5 mb-1">

        </div>
    </div>
</div>


<div class="p-4 bg-secondary text-white fixed-bottom"></div>


{% endblock %}
